<div class="go-back-button">
    <button mat-mini-fab (click)="route.goToHome()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
    </button>
</div>

<div class="picker-container">
    <div class="picker">
        <app-entry-picker (dateSelected)="onDateSelected($event)"></app-entry-picker>
    </div>
    <div class="entry-title">
        <h2>{{ outputString }}</h2>
    </div>
</div>

<div class="text-editor">
    <div class="text-editor-container">
        <mat-form-field appearance="outline" class="editor-field">
            <textarea matInput [(ngModel)]="textContent" placeholder="Enter your text here" rows="10"
                [disabled]="!isEnabled"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="controls">
    <button mat-raised-button color="primary" (click)="clearText()" [disabled]="!isEnabled">Clear Text</button>
    <button mat-raised-button color="primary" (click)="saveEntry()" [disabled]="!isEnabled">Save Text</button>
</div>