.go-back-button {
    padding-left: 10px;
    padding-top: 10px;
}

.text-editor {
    padding: 20px;
}

.picker-container {
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.picker {
    padding-top: 20px;
    padding-left: 20px;
    position: absolute;
    left: 0;
}

.entry-title {
    white-space: nowrap;
}

.controls {
    padding: 0 20px;
    display: flex;
    gap: 10px;
  }

  .text-editor-wrapper {
    width: 100%; 
    padding: 0 20px; // Add padding to ensure it doesn't touch the edges
    box-sizing: border-box; // Ensure padding doesn't overflow the container
  }
  
  .text-editor-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  .editor-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    font-size: 14px;
  }
  