mat-toolbar {
  height: 64px;
  line-height: 64px;
}

h1 {
  font-family: 'IBM Plex Sans' !important;
  cursor: default;
}

.logo-clickable{
  height: 40px;
  margin-right: 16px;
  margin-top: 20px;
  cursor:pointer !important;
}

.logo {
  height: 40px;
  margin-right: 16px;
  margin-top: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.clickable {
  cursor:pointer !important;
}
