:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

mat-card-title {
  font-family: 'IBM Plex Sans';
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcome-card {
  text-align: center;
}

.new-journal-button {
  margin-right: 10px;
}

.logo {
  height: 40px;
  margin-right: 16px;
  margin-top: 15px;
}

.button-div{
  padding-top: 20px;
  padding-bottom: 10px;
}