<mat-card class="welcome-card">
  <mat-card-title>
    Welcome to Inkwell!
  </mat-card-title>
  <mat-card-content>
    <img src="assets/logo.png" alt="Logo" class="logo">
    <div class="button-div">
      <button mat-flat-button color="primary" class="new-journal-button"><mat-icon aria-hidden="false"
          aria-label="New Journal Icon" fontIcon="add"></mat-icon>New Journal</button>
      <button mat-flat-button color="primary" class="import-journal-button"><mat-icon aria-hidden="false"
          aria-label="Import Journal Icon" fontIcon="publish"></mat-icon>
        Import Journal</button>
    </div>
  </mat-card-content>
</mat-card>