html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents vertical scroll */
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  main {
    flex: 1;
    overflow: auto;
  }
  