<div class="text-editor-container">
    <mat-form-field appearance="outline" class="editor-field">
      <textarea matInput [(ngModel)]="textContent" placeholder="Enter your text here" rows="10" [disabled]="!enabled"></textarea>
    </mat-form-field>
    <div class="controls">
      <button mat-raised-button color="primary" (click)="clearText()" [disabled]="!enabled">Clear Text</button>
      <button mat-raised-button color="primary" [disabled]="!enabled">Save Text</button>
    </div>
  </div>
  